@import './transform.styl'
/* 清除内外边距 */
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, fieldset, lengend, button, input, textarea, th, td
  /* table elements 表格元素 */
  margin 0
  padding 0
/* 设置默认字体 */
body, button, input, select, textarea /* for ie */
  /* font: 12px/1 Tahoma, Helvetica, Arial, "宋体", sans-serif; */
  font 12px / 1 Tahoma, Helvetica, Arial, '\5b8b\4f53', sans-serif /* 用 ascii 字符表示，使得在任何编码下都无问题 */
h1 /* 18px / 12px = 1.5 */
  font-size 18px /* 18px / 12px = 1.5 */
h2
  font-size 16px
h3
  font-size 14px
h4, h5, h6
  font-size 100%
address, cite, dfn, em, var /* 将斜体扶正 */
  font-style normal
/* 将斜体扶正 */
code, kbd, pre, samp, tt /* 统一等宽字体 */
  font-family 'Courier New', Courier, monospace
/* 统一等宽字体 */
small /* 小于 12px 的中文很难阅读，让 small 正常化 */
  font-size 12px
/* 小于 12px 的中文很难阅读，让 small 正常化 */
/* 重置列表元素 */
ul, ol
  list-style none
/* 重置文本格式元素 */
a
  text-decoration none
a:hover
  text-decoration underline
abbr[title], acronym[title] /* 注：1.ie6 不支持 abbr; 2.这里用了属性选择符，ie6 下无效果 */
  border-bottom 1px dotted
  cursor help
q:before, q:after
  content ''
/* 重置表单元素 */
legend /* for ie6 */
  color #000
/* for ie6 */
fieldset, img /* img 搭车：让链接里的 img 无边框 */
  border none
/* img 搭车：让链接里的 img 无边框 */
/* 注：optgroup 无法扶正 */
button, input, select, textarea
  border 0
  font-size 100% /* 使得表单元素在 ie 下能继承字体大小 */
  outline none
  -webkit-appearance none
/* 重置表格元素 */
table
  border-collapse collapse
  border-spacing 0
/* 重置 hr */
hr
  border none
  height 1px
.games
  padding 4em 0 2em
.page-path
  margin 0.5em 0 1em
.page-path p
  font-size 1em
  font-weight 300
  color #000
  float right
ul.path-list
  padding 0
  float left
ul.path-list li
  display inline-block
  font-size 1em
  font-weight 300
  color #000
ul.path-list li a:hover, .page-path p a:hover
  color #4fbfa8
ul.path-list li.act
  color #ff7105
h3.page-header
  font-size 1.2em
  color #ff7105
  font-weight 500
  margin 0.5em 0 1em
  text-transform uppercase
.blog-contain
  display flex
  justify-content space-around
.blog-content
  flex 1
.blog-sidebar
  width 285px
  padding 0 2em
.blog-post
  margin 0.5em 0 2em
.blog-post h3, .blog-post h3 a
  font-size 1.2em
  text-transform uppercase
  color #3c3a3e
  font-weight 700
  margin 0
.post-details
  margin 0.5em 0
.post-details p
  font-size 1em
  color #3c3a3e
  font-weight 100
.post-details p a
  font-weight 500
  color #4fbfa8
.post-details p span
  color #4fbfa8
.blog-post img
  width 100%
  margin 0.5em 0
.blog-post h4
  font-size 1em
  color #3c3a3e
  font-weight 500
  text-transform uppercase
  margin 0.5em 0
  line-height 1.6em
.blog-post p
  font-size 0.875em
  color #3c3a3e
  font-weight 100
  line-height 1.6em
  margin 0.5em 0
.blog-post nav a
  font-size 1em
  color #000
  font-weight 500
  padding-bottom 0
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td
  border 0 none
  font-size inherit
  color inherit
  margin 0
  padding 0
h1, h2, h3, h4, h5, h6
  font-weight normal
ul, ol, li
  list-style none
em, strong, i, b
  font-style normal
  font-weight normal
input, button
  background none
  border none
  outline none
button
  padding 0
  cursor pointer
  font-size 0.12rem
*
  box-sizing border-box
*::-webkit-scrollbar
  width 0.04rem
  height 0.04rem
*::-webkit-scrollbar-thumb
  background-color #4171a1
*::-webkit-scrollbar-track
  background-color #0e1928
@media only screen and (min-width: 980px)
  *::-webkit-scrollbar
    width 0.06rem
    height 0.06rem
*:before, *:after
  box-sizing border-box
html
  font-size 85px
@media only screen and (min-width: 768px)
  html
    font-size 100px
body
  font-family Arial, '微软雅黑', sans-serif
  width 100%
  line-height 1.5
  color #ffffff
  font-size 12px
  -webkit-tap-highlight-color transparent
  background #213246 no-repeat center top / 100% auto
  overflow-x hidden
a
  text-decoration none
  outline none
  cursor pointer
a:hover
  color #67c1f5
  text-decoration none
table
  width 100%
body .layui-layer:not(.layui-layer-msg):not(.layui-layer-loading)
  width 100%
  max-width 100%
  max-height 100%
  background-color #171a21
  border-radius 0.06rem
@media only screen and (min-width: 768px)
  body .layui-layer:not(.layui-layer-msg):not(.layui-layer-loading)
    width 5rem
body .layui-layer:not(.layui-layer-msg):not(.layui-layer-loading) .layui-layer-title
  height 0.5rem
  line-height 0.5rem
  padding 0 0.3rem
  font-size 0.15rem
  color #dbdbdb
  text-align center
  border-bottom solid 1px #2b2f39
  background-color inherit
body .layui-layer:not(.layui-layer-msg):not(.layui-layer-loading) .layui-layer-content
  overflow visible
  white-space normal
body .layui-layer:not(.layui-layer-msg):not(.layui-layer-loading) .layui-layer-content iframe
  background #ffffff
body .layui-layer:not(.layui-layer-msg):not(.layui-layer-loading) .layui-layer-content .template > .tip
  width 100%
  padding 0.1rem
  text-align center
  background #2b2d35
  color #af6d45
body .layui-layer:not(.layui-layer-msg):not(.layui-layer-loading) .layui-layer-content .confirm-msg
  padding 0.3rem 0.1rem
  text-align center
  color #ffcc6a
  font-size 0.18rem
  border-bottom solid 1px rgba(255, 255, 255, 0.1)
body .layui-layer:not(.layui-layer-msg):not(.layui-layer-loading) .layui-layer-content .confirm-msg .description
  margin-top 0.1rem
  font-size 0.15rem
  color rgba(255, 255, 255, 0.6)
  font-weight normal
body .layui-layer:not(.layui-layer-msg):not(.layui-layer-loading) .layui-layer-btn
  padding-bottom 0.3rem
body .layui-layer:not(.layui-layer-msg):not(.layui-layer-loading) .layui-layer-btn a
  display inline-block
  height auto
  padding 0.08rem 0.5rem
  line-height normal
  white-space nowrap
  border-radius 0.03rem
  background #5c7e10
  color #ffffff
  font-size 0.12rem
  font-size 0.14rem
  border none
body .layui-layer:not(.layui-layer-msg):not(.layui-layer-loading) .layui-layer-btn a:disabled
  background #363942
  color rgba(255, 255, 255, 0.3)
body .layui-layer:not(.layui-layer-msg):not(.layui-layer-loading) .layui-layer-btn a.layui-layer-btn1
  background #22262e
body .layui-layer:not(.layui-layer-msg):not(.layui-layer-loading) .layui-layer-close2
  right -15px
  top -15px
body .layui-layer:not(.layui-layer-msg):not(.layui-layer-loading).layui-layer-dialog .layui-layer-content
  padding 30px 40px
  color #dbdbdb
.icon
  display inline-block
  vertical-align middle
.icon-activity-cangku
  width 12px
  height 12px
  background url('../images/icon-1574228025775.png') -264px -431px
.icon-alipay-big
  width 28px
  height 28px
  background url('../images/icon-1574228025775.png') -390px -86px
.icon-all-sm
  width 18px
  height 18px
  background url('../images/icon-1574228025775.png') -442px -126px
.icon-apex-baotou
  width 12px
  height 12px
  background url('../images/icon-1574228025775.png') -254px -234px
.icon-apex-kill
  width 12px
  height 12px
  background url('../images/icon-1574228025775.png') -252px -431px
.icon-apex-shanghai
  width 12px
  height 12px
  background url('../images/icon-1574228025775.png') -240px -431px
.icon-api-key
  width 28px
  height 28px
  background url('../images/icon-1574228025775.png') -390px -58px
.icon-app
  width 11px
  height 19px
  background url('../images/icon-1574228025775.png') -460px -249px
.icon-approve-white
  width 16px
  height 17px
  background url('../images/icon-1574228025775.png') -160px -431px
.icon-approve
  width 17px
  height 16px
  background url('../images/icon-1574228025775.png') -154px -410px
.icon-arrow-right
  width 7px
  height 11px
  background url('../images/icon-1574228025775.png') -435px -348px
.icon-arrow-rightbottom
  width 7px
  height 7px
  background url('../images/icon-1574228025775.png') -435px -378px
.icon-back-home
  width 7px
  height 12px
  background url('../images/icon-1574228025775.png') -435px -336px
.icon-beibao
  width 38px
  height 38px
  background url('../images/icon-1574228025775.png') -114px -310px
.icon-bfb
  width 24px
  height 24px
  background url('../images/icon-1574228025775.png') -390px -338px
.icon-bind-baidu
  width 40px
  height 40px
  background url('../images/icon-1574228025775.png') -312px 0px
.icon-bind-qq
  width 40px
  height 40px
  background url('../images/icon-1574228025775.png') -256px -262px
.icon-bind-wechat
  width 40px
  height 40px
  background url('../images/icon-1574228025775.png') -266px -132px
.icon-bindmobile-on
  width 10px
  height 16px
  background url('../images/icon-1574228025775.png') -409px -226px
.icon-bindmobile
  width 10px
  height 16px
  background url('../images/icon-1574228025775.png') -409px -192px
.icon-bindtradelink-on
  width 16px
  height 16px
  background url('../images/icon-1574228025775.png') -195px -136px
.icon-bindtradelink
  width 16px
  height 16px
  background url('../images/icon-1574228025775.png') -296px -286px
.icon-bishou
  width 38px
  height 38px
  background url('../images/icon-1574228025775.png') -312px -156px
.icon-buqiang
  width 38px
  height 38px
  background url('../images/icon-1574228025775.png') -312px -232px
.icon-butuijian
  width 40px
  height 40px
  background url('../images/icon-1574228025775.png') -266px -52px
.icon-bzzx-on
  width 18px
  height 18px
  background url('../images/icon-1574228025775.png') -442px -288px
.icon-bzzx
  width 18px
  height 18px
  background url('../images/icon-1574228025775.png') -442px -270px
.icon-categories
  width 12px
  height 12px
  background url('../images/icon-1574228025775.png') -254px -210px
.icon-cdk-on
  width 20px
  height 17px
  background url('../images/icon-1574228025775.png') -61px -410px
.icon-cdk-sm
  width 16px
  height 16px
  background url('../images/icon-1574228025775.png') -283px -410px
.icon-cdk
  width 20px
  height 18px
  background url('../images/icon-1574228025775.png') -294px -390px
.icon-cha-big
  width 23px
  height 23px
  background url('../images/icon-1574228025775.png') -132px -78px
.icon-cha-light
  width 10px
  height 10px
  background url('../images/icon-1574228025775.png') -250px -252px
.icon-cha
  width 9px
  height 9px
  background url('../images/icon-1574228025775.png') -257px -105px
.icon-checked
  width 18px
  height 18px
  background url('../images/icon-1574228025775.png') -442px -252px
.icon-choose-state
  width 13px
  height 10px
  background url('../images/icon-1574228025775.png') -280px -252px
.icon-client
  width 20px
  height 17px
  background url('../images/icon-1574228025775.png') -81px -410px
.icon-clock
  width 14px
  height 14px
  background url('../images/icon-1574228025775.png') -460px -268px
.icon-closed
  width 12px
  height 12px
  background url('../images/icon-1574228025775.png') -216px -431px
.icon-closesee-pwd
  width 16px
  height 12px
  background url('../images/icon-1574228025775.png') -72px -377px
.icon-coin-big
  width 20px
  height 18px
  background url('../images/icon-1574228025775.png') -394px -390px
.icon-coin-white
  width 11px
  height 12px
  background url('../images/icon-1574228025775.png') -379px -324px
.icon-coin
  width 14px
  height 12px
  background url('../images/icon-1574228025775.png') -460px -429px
.icon-collect
  width 18px
  height 17px
  background url('../images/icon-1574228025775.png') -442px -363px
.icon-collected
  width 18px
  height 17px
  background url('../images/icon-1574228025775.png') -442px -414px
.icon-collection-on
  width 18px
  height 17px
  background url('../images/icon-1574228025775.png') -442px -380px
.icon-collection
  width 18px
  height 17px
  background url('../images/icon-1574228025775.png') -442px -397px
.icon-comment
  width 10px
  height 10px
  background url('../images/icon-1574228025775.png') -240px -252px
.icon-connect-qq
  width 16px
  height 19px
  background url('../images/icon-1574228025775.png') 0px -431px
.icon-connect-tel
  width 16px
  height 18px
  background url('../images/icon-1574228025775.png') -48px -431px
.icon-coupon-on
  width 20px
  height 14px
  background url('../images/icon-1574228025775.png') -288px -348px
.icon-coupon
  width 20px
  height 14px
  background url('../images/icon-1574228025775.png') -166px -194px
.icon-csgl-on
  width 16px
  height 17px
  background url('../images/icon-1574228025775.png') -128px -431px
.icon-csgl
  width 16px
  height 17px
  background url('../images/icon-1574228025775.png') -112px -431px
.icon-csgo-sm
  width 16px
  height 16px
  background url('../images/icon-1574228025775.png') -203px -410px
.icon-daily-charge
  width 46px
  height 52px
  background url('../images/icon-1574228025775.png') -46px -210px
.icon-daily-deal-1
  width 46px
  height 52px
  background url('../images/icon-1574228025775.png') -266px 0px
.icon-daily-deal-10
  width 46px
  height 52px
  background url('../images/icon-1574228025775.png') -92px -210px
.icon-daily-invite
  width 46px
  height 52px
  background url('../images/icon-1574228025775.png') -138px -210px
.icon-daily-register
  width 46px
  height 52px
  background url('../images/icon-1574228025775.png') -211px -105px
.icon-daily-share-link-on
  width 40px
  height 40px
  background url('../images/icon-1574228025775.png') -216px -262px
.icon-daily-share-link
  width 40px
  height 40px
  background url('../images/icon-1574228025775.png') -176px -262px
.icon-daily-share-qq-on
  width 40px
  height 40px
  background url('../images/icon-1574228025775.png') -136px -262px
.icon-daily-share-qq
  width 40px
  height 40px
  background url('../images/icon-1574228025775.png') -96px -262px
.icon-daily-share-wechat-on
  width 40px
  height 40px
  background url('../images/icon-1574228025775.png') -166px -154px
.icon-daily-share-wechat
  width 40px
  height 40px
  background url('../images/icon-1574228025775.png') -155px -112px
.icon-daily-share-weibo-on
  width 40px
  height 40px
  background url('../images/icon-1574228025775.png') -266px -212px
.icon-daily-share-weibo
  width 40px
  height 40px
  background url('../images/icon-1574228025775.png') -266px -172px
.icon-daily-share
  width 46px
  height 52px
  background url('../images/icon-1574228025775.png') -211px -157px
.icon-date
  width 14px
  height 14px
  background url('../images/icon-1574228025775.png') -460px -338px
.icon-decrease-red
  width 8px
  height 10px
  background url('../images/icon-1574228025775.png') -257px -114px
.icon-decrease
  width 8px
  height 9px
  background url('../images/icon-1574228025775.png') -257px -133px
.icon-deliver-done
  width 34px
  height 26px
  background url('../images/icon-1574228025775.png') -104px -348px
.icon-deliver-failed
  width 22px
  height 22px
  background url('../images/icon-1574228025775.png') -420px 0px
.icon-deliver-loading
  width 28px
  height 28px
  background url('../images/icon-1574228025775.png') -390px -30px
.icon-dianpu
  width 15px
  height 14px
  background url('../images/icon-1574228025775.png') -460px -235px
.icon-dota2-agility
  width 18px
  height 18px
  background url('../images/icon-1574228025775.png') -442px -234px
.icon-dota2-intellectual
  width 18px
  height 18px
  background url('../images/icon-1574228025775.png') -442px -216px
.icon-dota2-sm
  width 18px
  height 18px
  background url('../images/icon-1574228025775.png') -442px -180px
.icon-dota2-strength
  width 18px
  height 18px
  background url('../images/icon-1574228025775.png') -442px -108px
.icon-download-app
  width 14px
  height 14px
  background url('../images/icon-1574228025775.png') -460px -282px
.icon-download-now
  width 14px
  height 18px
  background url('../images/icon-1574228025775.png') -460px -108px
.icon-dpgl-on
  width 18px
  height 16px
  background url('../images/icon-1574228025775.png') -136px -410px
.icon-dpgl
  width 18px
  height 16px
  background url('../images/icon-1574228025775.png') -126px -134px
.icon-dropdown
  width 9px
  height 5px
  background url('../images/icon-1574228025775.png') -410px -285px
.icon-edit
  width 15px
  height 15px
  background url('../images/icon-1574228025775.png') -460px -126px
.icon-email-big
  width 27px
  height 20px
  background url('../images/icon-1574228025775.png') -352px -324px
.icon-explain-big
  width 18px
  height 18px
  background url('../images/icon-1574228025775.png') -442px -162px
.icon-explain-grey
  width 12px
  height 12px
  background url('../images/icon-1574228025775.png') -204px -431px
.icon-explain
  width 14px
  height 14px
  background url('../images/icon-1574228025775.png') -460px -296px
.icon-feiji
  width 22px
  height 20px
  background url('../images/icon-1574228025775.png') -420px -85px
.icon-fire
  width 16px
  height 18px
  background url('../images/icon-1574228025775.png') -80px -431px
.icon-footer-aqjy
  width 55px
  height 54px
  background url('../images/icon-1574228025775.png') -111px -154px
.icon-footer-cdzk
  width 55px
  height 54px
  background url('../images/icon-1574228025775.png') -211px 0px
.icon-footer-wysh
  width 55px
  height 54px
  background url('../images/icon-1574228025775.png') -56px -154px
.icon-fuwu
  width 23px
  height 21px
  background url('../images/icon-1574228025775.png') 0px -410px
.icon-h1z1-sm
  width 16px
  height 16px
  background url('../images/icon-1574228025775.png') -299px -410px
.icon-help-connect
  width 56px
  height 56px
  background url('../images/icon-1574228025775.png') 0px -154px
.icon-help-go
  width 50px
  height 16px
  background url('../images/icon-1574228025775.png') -76px -134px
.icon-help-lingpai
  width 56px
  height 56px
  background url('../images/icon-1574228025775.png') -155px 0px
.icon-help-steam
  width 56px
  height 56px
  background url('../images/icon-1574228025775.png') -76px -78px
.icon-help-tradelink
  width 56px
  height 56px
  background url('../images/icon-1574228025775.png') -155px -56px
.icon-help
  width 21px
  height 21px
  background url('../images/icon-1574228025775.png') -420px -22px
.icon-home
  width 20px
  height 14px
  background url('../images/icon-1574228025775.png') -186px -194px
.icon-hot-sm
  width 14px
  height 12px
  background url('../images/icon-1574228025775.png') -460px -405px
.icon-increase-green
  width 8px
  height 10px
  background url('../images/icon-1574228025775.png') -304px -252px
.icon-increase
  width 8px
  height 9px
  background url('../images/icon-1574228025775.png') -257px -124px
.icon-jiqiang
  width 38px
  height 38px
  background url('../images/icon-1574228025775.png') -152px -310px
.icon-jujiqiang
  width 38px
  height 38px
  background url('../images/icon-1574228025775.png') -266px -310px
.icon-jyss-on
  width 15px
  height 17px
  background url('../images/icon-1574228025775.png') -460px -57px
.icon-jyss
  width 15px
  height 17px
  background url('../images/icon-1574228025775.png') -460px -91px
.icon-kuzi
  width 38px
  height 38px
  background url('../images/icon-1574228025775.png') -352px -190px
.icon-lang-cn
  width 17px
  height 11px
  background url('../images/icon-1574228025775.png') -121px -377px
.icon-lang-en
  width 17px
  height 11px
  background url('../images/icon-1574228025775.png') -104px -377px
.icon-leftside-menu
  width 32px
  height 25px
  background url('../images/icon-1574228025775.png') -138px -348px
.icon-link-big
  width 26px
  height 26px
  background url('../images/icon-1574228025775.png') -390px -166px
.icon-login-baidu
  width 19px
  height 19px
  background url('../images/icon-1574228025775.png') -420px -260px
.icon-login-qq
  width 16px
  height 20px
  background url('../images/icon-1574228025775.png') -442px -343px
.icon-login-steam
  width 29px
  height 24px
  background url('../images/icon-1574228025775.png') -390px -142px
.icon-login-weixin
  width 23px
  height 19px
  background url('../images/icon-1574228025775.png') -247px -390px
.icon-lottery-probability-on
  width 44px
  height 16px
  background url('../images/icon-1574228025775.png') -170px -348px
.icon-lottery-probability
  width 44px
  height 16px
  background url('../images/icon-1574228025775.png') -214px -348px
.icon-lottery-statement-1
  width 25px
  height 20px
  background url('../images/icon-1574228025775.png') 0px -390px
.icon-lottery-statement-2
  width 25px
  height 20px
  background url('../images/icon-1574228025775.png') -150px -390px
.icon-lottery-statement-3
  width 25px
  height 20px
  background url('../images/icon-1574228025775.png') -125px -390px
.icon-lottery-statement-4
  width 25px
  height 20px
  background url('../images/icon-1574228025775.png') -75px -390px
.icon-lottery-statement-5
  width 25px
  height 20px
  background url('../images/icon-1574228025775.png') -50px -390px
.icon-lottery-statement-6
  width 25px
  height 20px
  background url('../images/icon-1574228025775.png') -25px -390px
.icon-lottery-statement-7
  width 25px
  height 20px
  background url('../images/icon-1574228025775.png') -100px -390px
.icon-lottery-synthesis-success
  width 33px
  height 32px
  background url('../images/icon-1574228025775.png') -352px -228px
.icon-luckybag-next
  width 15px
  height 24px
  background url('../images/icon-1574228025775.png') -195px -112px
.icon-luckybag-prev
  width 15px
  height 24px
  background url('../images/icon-1574228025775.png') -296px -262px
.icon-luxuries-sm
  width 16px
  height 16px
  background url('../images/icon-1574228025775.png') -219px -410px
.icon-macos
  width 16px
  height 16px
  background url('../images/icon-1574228025775.png') -235px -410px
.icon-maozi
  width 38px
  height 38px
  background url('../images/icon-1574228025775.png') -312px -118px
.icon-menu-arrow
  width 8px
  height 13px
  background url('../images/icon-1574228025775.png') -410px -272px
.icon-message
  width 11px
  height 9px
  background url('../images/icon-1574228025775.png') -460px -441px
.icon-mianju
  width 38px
  height 38px
  background url('../images/icon-1574228025775.png') -38px -310px
.icon-news-clock
  width 10px
  height 10px
  background url('../images/icon-1574228025775.png') -230px -252px
.icon-next-big
  width 15px
  height 24px
  background url('../images/icon-1574228025775.png') -420px -336px
.icon-next-btn
  width 10px
  height 16px
  background url('../images/icon-1574228025775.png') -409px -242px
.icon-next-lottery-on
  width 24px
  height 42px
  background url('../images/icon-1574228025775.png') -230px -210px
.icon-next-lottery
  width 24px
  height 42px
  background url('../images/icon-1574228025775.png') -24px -348px
.icon-next
  width 19px
  height 34px
  background url('../images/icon-1574228025775.png') -390px -226px
.icon-noob-bind-steam
  width 46px
  height 52px
  background url('../images/icon-1574228025775.png') -184px -210px
.icon-noob-set-link
  width 46px
  height 52px
  background url('../images/icon-1574228025775.png') 0px -210px
.icon-notice
  width 16px
  height 12px
  background url('../images/icon-1574228025775.png') -88px -377px
.icon-opened
  width 12px
  height 2px
  background url('../images/icon-1574228025775.png') -405px -386px
.icon-other-sm
  width 18px
  height 18px
  background url('../images/icon-1574228025775.png') -442px -36px
.icon-others
  width 38px
  height 38px
  background url('../images/icon-1574228025775.png') -312px -270px
.icon-ownersale-on
  width 20px
  height 20px
  background url('../images/icon-1574228025775.png') -420px -165px
.icon-ownersale-warning
  width 16px
  height 16px
  background url('../images/icon-1574228025775.png') -187px -410px
.icon-ownersale
  width 20px
  height 20px
  background url('../images/icon-1574228025775.png') -420px -145px
.icon-password-big
  width 22px
  height 24px
  background url('../images/icon-1574228025775.png') -132px -101px
.icon-payway-alipay
  width 23px
  height 24px
  background url('../images/icon-1574228025775.png') -390px -362px
.icon-payway-selected
  width 21px
  height 21px
  background url('../images/icon-1574228025775.png') -420px -64px
.icon-payway-wxpay
  width 26px
  height 23px
  background url('../images/icon-1574228025775.png') -390px -291px
.icon-pc
  width 14px
  height 12px
  background url('../images/icon-1574228025775.png') -460px -417px
.icon-phone-big
  width 20px
  height 31px
  background url('../images/icon-1574228025775.png') -390px -260px
.icon-player-online
  width 16px
  height 16px
  background url('../images/icon-1574228025775.png') -171px -410px
.icon-playstation-red
  width 24px
  height 19px
  background url('../images/icon-1574228025775.png') -175px -390px
.icon-playstation
  width 24px
  height 19px
  background url('../images/icon-1574228025775.png') -199px -390px
.icon-plus-big
  width 14px
  height 14px
  background url('../images/icon-1574228025775.png') -460px -366px
.icon-plus
  width 10px
  height 10px
  background url('../images/icon-1574228025775.png') -144px -134px
.icon-ppye
  width 14px
  height 16px
  background url('../images/icon-1574228025775.png') -460px -141px
.icon-prev-big
  width 15px
  height 24px
  background url('../images/icon-1574228025775.png') -420px -378px
.icon-prev-btn
  width 10px
  height 16px
  background url('../images/icon-1574228025775.png') -409px -208px
.icon-prev-lottery-on
  width 24px
  height 42px
  background url('../images/icon-1574228025775.png') 0px -348px
.icon-prev-lottery
  width 24px
  height 42px
  background url('../images/icon-1574228025775.png') -48px -348px
.icon-prev
  width 19px
  height 34px
  background url('../images/icon-1574228025775.png') -390px -192px
.icon-ps
  width 16px
  height 16px
  background url('../images/icon-1574228025775.png') -315px -410px
.icon-pubg-coin
  width 14px
  height 16px
  background url('../images/icon-1574228025775.png') -460px -205px
.icon-pubg-crit
  width 30px
  height 30px
  background url('../images/icon-1574228025775.png') -390px 0px
.icon-pubg-sm
  width 16px
  height 16px
  background url('../images/icon-1574228025775.png') -363px -410px
.icon-pubglottery-notice
  width 11px
  height 10px
  background url('../images/icon-1574228025775.png') -293px -252px
.icon-qiandao
  width 14px
  height 14px
  background url('../images/icon-1574228025775.png') -460px -310px
.icon-qiandaoed
  width 14px
  height 14px
  background url('../images/icon-1574228025775.png') -460px -324px
.icon-qiangxie
  width 38px
  height 38px
  background url('../images/icon-1574228025775.png') 0px -310px
.icon-reduce-big
  width 15px
  height 2px
  background url('../images/icon-1574228025775.png') -390px -386px
.icon-reduce
  width 10px
  height 2px
  background url('../images/icon-1574228025775.png') -409px -224px
.icon-refresh
  width 14px
  height 12px
  background url('../images/icon-1574228025775.png') -460px -393px
.icon-report
  width 18px
  height 16px
  background url('../images/icon-1574228025775.png') -118px -410px
.icon-result-fail
  width 32px
  height 32px
  background url('../images/icon-1574228025775.png') -352px -292px
.icon-result-success
  width 32px
  height 32px
  background url('../images/icon-1574228025775.png') -352px -260px
.icon-ruls
  width 10px
  height 12px
  background url('../images/icon-1574228025775.png') -410px -260px
.icon-sale-mode-select
  width 5px
  height 5px
  background url('../images/icon-1574228025775.png') -435px -385px
.icon-sale-mode
  width 12px
  height 12px
  background url('../images/icon-1574228025775.png') -254px -222px
.icon-sandanqiang
  width 38px
  height 38px
  background url('../images/icon-1574228025775.png') -312px -194px
.icon-score-market-blue
  width 12px
  height 12px
  background url('../images/icon-1574228025775.png') -411px -410px
.icon-score-market
  width 12px
  height 12px
  background url('../images/icon-1574228025775.png') -192px -431px
.icon-score
  width 18px
  height 18px
  background url('../images/icon-1574228025775.png') -442px -198px
.icon-search-big
  width 24px
  height 24px
  background url('../images/icon-1574228025775.png') -390px -314px
.icon-search-sm
  width 12px
  height 12px
  background url('../images/icon-1574228025775.png') -276px -431px
.icon-search
  width 16px
  height 16px
  background url('../images/icon-1574228025775.png') -347px -410px
.icon-security
  width 25px
  height 28px
  background url('../images/icon-1574228025775.png') -390px -114px
.icon-see-pwd
  width 14px
  height 7px
  background url('../images/icon-1574228025775.png') -420px -402px
.icon-share-qq-on
  width 20px
  height 18px
  background url('../images/icon-1574228025775.png') -374px -390px
.icon-share-qq
  width 20px
  height 18px
  background url('../images/icon-1574228025775.png') -354px -390px
.icon-share-weibo-on
  width 20px
  height 18px
  background url('../images/icon-1574228025775.png') -334px -390px
.icon-share-weibo
  width 20px
  height 18px
  background url('../images/icon-1574228025775.png') -314px -390px
.icon-share-weixin-on
  width 20px
  height 18px
  background url('../images/icon-1574228025775.png') -41px -410px
.icon-share-weixin
  width 20px
  height 18px
  background url('../images/icon-1574228025775.png') -420px -360px
.icon-share
  width 18px
  height 20px
  background url('../images/icon-1574228025775.png') -23px -410px
.icon-shouqiang
  width 38px
  height 38px
  background url('../images/icon-1574228025775.png') -352px -152px
.icon-shoutao
  width 38px
  height 38px
  background url('../images/icon-1574228025775.png') -352px -114px
.icon-spjy-on
  width 16px
  height 18px
  background url('../images/icon-1574228025775.png') -32px -431px
.icon-spjy
  width 16px
  height 18px
  background url('../images/icon-1574228025775.png') -64px -431px
.icon-spqg-on
  width 18px
  height 18px
  background url('../images/icon-1574228025775.png') -442px -144px
.icon-spqg
  width 18px
  height 18px
  background url('../images/icon-1574228025775.png') -442px 0px
.icon-steam-big
  width 32px
  height 29px
  background url('../images/icon-1574228025775.png') -72px -348px
.icon-steam-sm
  width 16px
  height 16px
  background url('../images/icon-1574228025775.png') -379px -410px
.icon-steamos
  width 16px
  height 16px
  background url('../images/icon-1574228025775.png') -395px -410px
.icon-store-deposit
  width 15px
  height 17px
  background url('../images/icon-1574228025775.png') -460px -40px
.icon-store-official
  width 30px
  height 15px
  background url('../images/icon-1574228025775.png') -258px -348px
.icon-store-quality
  width 17px
  height 17px
  background url('../images/icon-1574228025775.png') -101px -410px
.icon-store-quick
  width 15px
  height 17px
  background url('../images/icon-1574228025775.png') -460px -74px
.icon-tag-chuanshuo
  width 51px
  height 51px
  background url('../images/icon-1574228025775.png') -211px -54px
.icon-tag-shishi
  width 48px
  height 48px
  background url('../images/icon-1574228025775.png') -48px -262px
.icon-tag-xiyou
  width 48px
  height 48px
  background url('../images/icon-1574228025775.png') 0px -262px
.icon-task
  width 21px
  height 21px
  background url('../images/icon-1574228025775.png') -420px -43px
.icon-ti-recharge-on
  width 15px
  height 20px
  background url('../images/icon-1574228025775.png') -460px -20px
.icon-ti-recharge
  width 15px
  height 20px
  background url('../images/icon-1574228025775.png') -460px 0px
.icon-ti-share-on
  width 22px
  height 18px
  background url('../images/icon-1574228025775.png') -420px -223px
.icon-ti-share-qq
  width 77px
  height 77px
  background url('../images/icon-1574228025775.png') -78px 0px
.icon-ti-share-sina
  width 78px
  height 78px
  background url('../images/icon-1574228025775.png') 0px 0px
.icon-ti-share-wechat
  width 76px
  height 76px
  background url('../images/icon-1574228025775.png') 0px -78px
.icon-ti-share
  width 22px
  height 18px
  background url('../images/icon-1574228025775.png') -420px -205px
.icon-ti-sign-on
  width 21px
  height 20px
  background url('../images/icon-1574228025775.png') -420px -125px
.icon-ti-sign
  width 21px
  height 20px
  background url('../images/icon-1574228025775.png') -420px -105px
.icon-tianp
  width 24px
  height 18px
  background url('../images/icon-1574228025775.png') -270px -390px
.icon-tip-blue
  width 16px
  height 16px
  background url('../images/icon-1574228025775.png') -251px -410px
.icon-tip-sm-blue
  width 12px
  height 12px
  background url('../images/icon-1574228025775.png') -228px -431px
.icon-tip
  width 13px
  height 13px
  background url('../images/icon-1574228025775.png') -460px -380px
.icon-tjgd-on
  width 16px
  height 17px
  background url('../images/icon-1574228025775.png') -176px -431px
.icon-tjgd
  width 16px
  height 17px
  background url('../images/icon-1574228025775.png') -144px -431px
.icon-to-top
  width 14px
  height 14px
  background url('../images/icon-1574228025775.png') -460px -352px
.icon-tuijian
  width 40px
  height 40px
  background url('../images/icon-1574228025775.png') -266px -92px
.icon-uncheck
  width 18px
  height 18px
  background url('../images/icon-1574228025775.png') -442px -72px
.icon-verify-failed
  width 39px
  height 39px
  background url('../images/icon-1574228025775.png') -312px -40px
.icon-verify-ok
  width 39px
  height 39px
  background url('../images/icon-1574228025775.png') -312px -79px
.icon-verify
  width 17px
  height 19px
  background url('../images/icon-1574228025775.png') -442px -324px
.icon-wallet
  width 13px
  height 11px
  background url('../images/icon-1574228025775.png') -138px -377px
.icon-watch
  width 14px
  height 10px
  background url('../images/icon-1574228025775.png') -266px -252px
.icon-wdjf-on
  width 16px
  height 16px
  background url('../images/icon-1574228025775.png') -267px -410px
.icon-wdjf
  width 16px
  height 16px
  background url('../images/icon-1574228025775.png') -331px -410px
.icon-wdqb-on
  width 16px
  height 14px
  background url('../images/icon-1574228025775.png') -340px -348px
.icon-wdqb
  width 16px
  height 14px
  background url('../images/icon-1574228025775.png') -308px -348px
.icon-wdqg-on
  width 18px
  height 18px
  background url('../images/icon-1574228025775.png') -442px -54px
.icon-wdqg
  width 18px
  height 18px
  background url('../images/icon-1574228025775.png') -442px -90px
.icon-weixingchongfengqiang
  width 38px
  height 38px
  background url('../images/icon-1574228025775.png') -352px -76px
.icon-win-red
  width 19px
  height 19px
  background url('../images/icon-1574228025775.png') -420px -279px
.icon-win
  width 19px
  height 19px
  background url('../images/icon-1574228025775.png') -420px -298px
.icon-windows
  width 12px
  height 12px
  background url('../images/icon-1574228025775.png') -423px -410px
.icon-wqpf
  width 38px
  height 38px
  background url('../images/icon-1574228025775.png') -352px -38px
.icon-xbox-red
  width 19px
  height 19px
  background url('../images/icon-1574228025775.png') -420px -241px
.icon-xbox
  width 19px
  height 19px
  background url('../images/icon-1574228025775.png') -420px -317px
.icon-xiangzi
  width 38px
  height 38px
  background url('../images/icon-1574228025775.png') -352px 0px
.icon-xiezi
  width 38px
  height 38px
  background url('../images/icon-1574228025775.png') -304px -310px
.icon-xxtz-on
  width 16px
  height 13px
  background url('../images/icon-1574228025775.png') -356px -348px
.icon-xxtz
  width 16px
  height 13px
  background url('../images/icon-1574228025775.png') -372px -348px
.icon-yanjing
  width 38px
  height 38px
  background url('../images/icon-1574228025775.png') -228px -310px
.icon-yifu
  width 38px
  height 38px
  background url('../images/icon-1574228025775.png') -190px -310px
.icon-yinhua
  width 38px
  height 38px
  background url('../images/icon-1574228025775.png') -76px -310px
.icon-zhaq-on
  width 16px
  height 18px
  background url('../images/icon-1574228025775.png') -16px -431px
.icon-zhaq
  width 16px
  height 18px
  background url('../images/icon-1574228025775.png') -96px -431px
.icon-zhcz-on
  width 18px
  height 18px
  background url('../images/icon-1574228025775.png') -442px -18px
.icon-zhcz
  width 18px
  height 18px
  background url('../images/icon-1574228025775.png') -442px -306px
.icon-zhengp
  width 24px
  height 19px
  background url('../images/icon-1574228025775.png') -223px -390px
.icon-zhsy
  width 16px
  height 14px
  background url('../images/icon-1574228025775.png') -324px -348px
.icon-zhye
  width 15px
  height 14px
  background url('../images/icon-1574228025775.png') -460px -221px
.icon-zhzx-on
  width 14px
  height 16px
  background url('../images/icon-1574228025775.png') -460px -189px
.icon-zhzx
  width 14px
  height 16px
  background url('../images/icon-1574228025775.png') -460px -173px
.icon-zixun-qq
  width 14px
  height 16px
  background url('../images/icon-1574228025775.png') -460px -157px
.icon-zixun
  width 20px
  height 20px
  background url('../images/icon-1574228025775.png') -420px -185px