@import "./transform.styl"
/* 清除内外边距 */
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, fieldset, lengend, button, input, textarea, th, td
  /* table elements 表格元素 */
  margin 0
  padding 0
/* 设置默认字体 */
body, button, input, select, textarea /* for ie */
  /* font: 12px/1 Tahoma, Helvetica, Arial, "宋体", sans-serif; */
  font 12px / 1 Tahoma, Helvetica, Arial, '\5b8b\4f53', sans-serif /* 用 ascii 字符表示，使得在任何编码下都无问题 */
h1 /* 18px / 12px = 1.5 */
  font-size 18px /* 18px / 12px = 1.5 */
h2
  font-size 16px
h3
  font-size 14px
h4, h5, h6
  font-size 100%
address, cite, dfn, em, var /* 将斜体扶正 */
  font-style normal
/* 将斜体扶正 */
code, kbd, pre, samp, tt /* 统一等宽字体 */
  font-family 'Courier New', Courier, monospace
/* 统一等宽字体 */
small /* 小于 12px 的中文很难阅读，让 small 正常化 */
  font-size 12px
/* 小于 12px 的中文很难阅读，让 small 正常化 */
/* 重置列表元素 */
ul, ol
  list-style none
/* 重置文本格式元素 */
a
  text-decoration none
a:hover
  text-decoration underline
abbr[title], acronym[title] /* 注：1.ie6 不支持 abbr; 2.这里用了属性选择符，ie6 下无效果 */
  border-bottom 1px dotted
  cursor help
q:before, q:after
  content ''
/* 重置表单元素 */
legend /* for ie6 */
  color #000
/* for ie6 */
fieldset, img /* img 搭车：让链接里的 img 无边框 */
  border none
/* img 搭车：让链接里的 img 无边框 */
/* 注：optgroup 无法扶正 */
button, input, select, textarea
  border 0
  font-size 100% /* 使得表单元素在 ie 下能继承字体大小 */
  outline none
  -webkit-appearance none
/* 重置表格元素 */
table
  border-collapse collapse
  border-spacing 0
/* 重置 hr */
hr
  border none
  height 1px

.games
  padding 4em 0 2em
.page-path
  margin 0.5em 0 1em
.page-path p
  font-size 1em
  font-weight 300
  color #000
  float right
ul.path-list
  padding 0
  float left
ul.path-list li
  display inline-block
  font-size 1em
  font-weight 300
  color #000
ul.path-list li a:hover, .page-path p a:hover
  color #4fbfa8
ul.path-list li.act
  color #ff7105
h3.page-header
  font-size 1.2em
  color #ff7105
  font-weight 500
  margin 0.5em 0 1em
  text-transform uppercase

.blog-contain
  display flex
  justify-content space-around
.blog-content
  flex 1
.blog-sidebar
  width 285px
  padding 0 2em
.blog-post
  margin 0.5em 0 2em
.blog-post h3, .blog-post h3 a
  font-size 1.2em
  text-transform uppercase
  color #3c3a3e
  font-weight 700
  margin 0
.post-details
  margin 0.5em 0
.post-details p
  font-size 1em
  color #3c3a3e
  font-weight 100
.post-details p a
  font-weight 500
  color #4fbfa8
.post-details p span
  color #4fbfa8
.blog-post img
  width 100%
  margin 0.5em 0
.blog-post h4
  font-size 1em
  color #3c3a3e
  font-weight 500
  text-transform uppercase
  margin 0.5em 0
  line-height 1.6em
.blog-post p
  font-size 0.875em
  color #3c3a3e
  font-weight 100
  line-height 1.6em
  margin 0.5em 0
.blog-post nav a
  font-size 1em
  color #000
  font-weight 500
  padding-bottom 0